.hed {
	font-family: 'Karla', San-Serif;
	font-size: 40px
	
}

.small_hed {
	font-family: 'Karla', San-Serif;
	font-size: 20px

}

.photo { 
	font-family: 'Karla', San-Serif;
	font-size: 20px


 }

 .copy {
	font-family: 'Karla', San-Serif;
	font-size: 20px

 }

 .related {
	font-family: 'Karla', San-Serif;
	font-size: 20px
 }
 